@import "mixins";

.contenedorMain .seccion3 {
    margin-top: 12rem;
    padding-bottom: 15rem;
    display: flex;
    justify-content: center;

    .contenedor-productosEstrellas {
        h1 {
            font-size: 3rem;
            font-weight: lighter;
            text-align: center;
            margin-bottom: 3rem;
        }

        div {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20rem;

            div:nth-child(1) {
               @include estiloBannerProductosDestacados(url("../../tiendaGaming/img/banner-computadoras.png"));                
                p {
                    margin-right: 2rem;
                }
            }

            div:nth-child(2) {
                @include estiloBannerProductosDestacados(url("../../tiendaGaming/img/banner-sillasGamer.png"));

                p {
                    margin-right: 2rem;
                }

            }
        }
    }
}