.contenedorMain {
    background-color: #F3F3F3;
    
    .seccion1 {
        background-image: url('../../tiendaGaming/img/img\ 1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 512px;

        div {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                text-align: center;
                color: #FFFFFF;
                font-size: 4rem;
                margin-bottom: 1.5rem;
                span {
                    color: #D01418;
                }
            }

            a {
                text-decoration: none;
                color: #FFFFFF;
                font-size: 2.5rem;
                font-weight: bolder;
                padding: 1rem 3rem;
                background-color: #D01418;
                border-radius: .5rem;
            }
        }
        
    }
}