.contenedorMain .seccion2 {
    margin: 4rem 0rem 0 0rem;
    display: flex;
    justify-content: center;

    .contenedorJuegos {
        h1 {
            font-size: 3rem;
            font-weight: lighter;
            margin-bottom: 2rem;
            text-align: center;
        }
    }
}

.contenedorMain .seccion2 .contenedorJuegos .juegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        width: 265px;
        height: 322px;
        margin-left: 2rem;
        background-color: #FFFFFF;
        border-radius: .5rem;

        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            img {
                width: 129px;
                height: 163px;
                margin: 3rem;
            }

            figcaption {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 0 0 2rem 4rem;
                line-height: 2rem;
                width: 100%;

                h3 {
                    font-size: 2rem;
                    font-weight: lighter;
                }

                .cuotas {
                    font-size: 1.3rem;
                }

                .envio {
                    color: #619D00;

                }
            }
        }
    }
}